In [ ]:
#Data Structures (colleciton of values written in a specfic format): when we have data, we have not A SEQUENCE, but several SEQUENCES. In pythn you LIST, TUPLES, DICTIONARY

#######LIST
#lists are declared in rectangular rackets
#Follow 0 indexing
#are mutable or amenable to change (TUPLE CANNOT BE MUTABLE)

#Creating a list
marks=[1,2,3,4,5]
print(marks)

[1, 2, 3, 4, 5]

In [ ]:
#Number of elements in a list
length=len(marks)
print(length)

5

In [ ]:
#sum
numbers=[1,2,3,4,5]
y=sum(numbers)
print("sum ", y)
print(numbers[1]) #it will print 2 (as the indexing starts at 0)
print(numbers[:3]) #it will print 1,2,3 -> numbers=[1,2,3,4,5]
print(numbers[3:]) #it will print 1,2,3 -> numbers=[1,2,3,4,5]

sum  15
2
[1, 2, 3]
[4, 5]

In [ ]:
#calculating mean
mean=sum(numbers)/len(numbers)
print(mean)

3.0

In [ ]:
from statistics import mean

In [ ]:
a=mean(numbers)
print(a)

3

In [ ]:
from statistics import * #import all the library from staistics
print(mode(numbers))
print(median(numbers))

1
3

In [ ]:
#Calculating descriptive statistics
print(mean(numbers))
print(median(numbers))
print(variance(numbers))
print(stdev(numbers))

3
3
2.5
1.5811388300841898

In [ ]:
a=stdev(numbers)
print(a)
rounda=round(a,3)
print(rounda)

1.5811388300841898
1.581

In [ ]:
dir(statistics) #all function which can be found

NameError: ignored

In [ ]:
#print specific element
#index 1 to 3
print(numbers[:3])

#print elements from index 1 to 3
print(numbers[1:4])

[1, 2, 3]
[2, 3, 4]

In [ ]:
#sorting elements of a list
numbers=[2,4,5,6,3,9,1]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
#Reverse order
numbers.sort(reverse=True)
print(numbers)

[9, 6, 5, 4, 3, 2, 1]

In [ ]:
#Lists are MUTABLE or can be changed
numbers=[2,4,5,6,3,9,1]
print(numbers)
numbers[1]=10
print(numbers)

[2, 4, 5, 6, 3, 9, 1]
[2, 10, 5, 6, 3, 9, 1]

In [ ]:
#modifying the lists
#substitute, append insert, deleter

In [ ]:
#substitute
omics=["Genomics", "Transcriptomics", "Proteomics"]
print(omics)
omics[1]="Metabolomics"
print(omics)

['Genomics', 'Transcriptomics', 'Proteomics']
['Genomics', 'Metabolomics', 'Proteomics']

In [ ]:
#Append= Add element to the end of the list
omics=["Genomics", "Transcriptomics", "Proteomics"]
print(omics)
omics.append("Metabolomics")
print(omics)

['Genomics', 'Transcriptomics', 'Proteomics']
['Genomics', 'Transcriptomics', 'Proteomics', 'Metabolomics']

In [ ]:
#Delete= pop removes the last element by dafault, or an element by index specifield in()
omics=["Genomics", "Transcriptomics", "Proteomics"]
print(omics)
omics.pop(1)
print(omics)

['Genomics', 'Transcriptomics', 'Proteomics']
['Genomics', 'Proteomics']

In [ ]:
#insert a specific index
omics=["Genomics", "Transcriptomics", "Proteomics"]
omics.insert(2,"Lipidomics")
print(omics)

['Genomics', 'Transcriptomics', 'Lipidomics', 'Proteomics']

In [ ]:
#omics.insert(2,"Lipidomics", "Glycomics") # does not work
#but if you do
list1=["Lipidomics", "Glycomics"]
omics=["Genomics", "Transcriptomics", "Proteomics"]
omics.insert(2,list1)
print(omics)

['Genomics', 'Transcriptomics', ['Lipidomics', 'Glycomics'], 'Proteomics']

In [ ]:
#Another example (step by step on the concept: append/pop/insert..)
list1=[1,2,3,4,5]
list2=["Genomics", "Transcriptomics", "Proteomics"]
list3=[1,2,3,"Vipin"] # Mix of number and letter
print(type(list3))

<class 'list'>

In [ ]:
#combine lists
subjects=["a","b","c","d"]
marks=[10,9,8,9]
subjects_marks=subjects+marks
print(subjects_marks)

['a', 'b', 'c', 'd', 10, 9, 8, 9]

In [ ]:
x=subjects_marks.count('a')
print(y)

15

In [ ]:
#Iterating over a list
nuc=["A", "T", "G", "C"]
for a in nuc :
  print(a)

A
T
G
C

In [ ]:
#Iterate over a list of nucleaotides and calculta the composition of DNA
dna="ATGCATGCAA"
nuc=["A", "T", "G", "C"]
for i in nuc:
  count1=dna.count(i)
  print(i, count1)

A 4
T 2
G 2
C 2

In [ ]:
#make a string to a list
dna="ATGCATGC"
dna1=list(dna)
print(dna1)
type(dna1)

['A', 'T', 'G', 'C', 'A', 'T', 'G', 'C']

list

In [ ]:
#converting a string to a list
dna="ATGCATGC"
dna1=[*dna]
print(dna1)
type(dna1)

['A', 'T', 'G', 'C', 'A', 'T', 'G', 'C']

list

In [ ]:
#using lopps
dna="ATGCATGC"
list1=[]
for i in dna:
  list1.append(i)
print(list1)

['A', 'T', 'G', 'C', 'A', 'T', 'G', 'C']

In [ ]:
#####LETS SEE TUPPLE: like list but are declared ()
tuple1=(1,2,3,4,5,6)
type(tuple1)
tuple1[0] #1
tuple1[1:3] # 2,3
tuple1[1:]
tuple1[3:]
tuple1[3:6]

(4, 5, 6)

In [ ]:
#Differences between list and tupple -> LIST ARE MUTABLE (they can be changed)
list1=[1,2,3,4]
list1[1]=5
print(list1)

[1, 5, 3, 4]

In [ ]:
#tuple are not mutable
tuple1=(1,2,3,4)
tuple1[1]=5
print(tuple1)

TypeError: ignored

In [ ]:
#Downloading anaconda (go to anaconda.com/ Free download)