**Welcome to Dr Virpin course** DAY 1 : Data type

In [ ]:
#Part 1 - Getting familiar
print("Welcome to Python for Biologists")

Welcome to Python for Biologists

In [ ]:
#LET'S START

In [ ]:
print('1')

In [ ]:
#Double Quote, Single Quote

In [ ]:
# Print with a statement
print("2 raised to the power 6 is", pow(2,6))

2 raised to the power 6 is 64

In [ ]:
#Quotient
11//3

3

In [ ]:
#Remainder of division
15%3

0

In [ ]:
#Mathematical operators >, <, ==, >=, <=, !=
print(4!=5)

True

In [ ]:
#Data types  = numeric - florat and int
#no decimal value - int
a="2"
type(a)
b=2
type(b)

int

In [ ]:
#Antoher way of checking type is isistance
dna1=1
isinstance(dna1,float)

False