<a href="https://colab.research.google.com/github/CornilleAmandine/python_for_biologist/blob/main/Python_for_biologists_Assignment_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment Day4**

Create a list of even numbers till 20

Remove the last number

Remove the third number  in the list

Add 50 in the end

insert 101 at the index 2

Change value at index 5 to 25

Calculate total and average of numbers

Calculate mean, median, mode, variance, standard eorror for the final list

In [17]:
#Create a list of even numbers till 20
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]

In [11]:
#Remove the last number
example_list[:-1]

[1, 2, 3, 4, 5, 19, 20, 1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568]

In [19]:
#Remove the 3rd number  in the list
example_list.pop(2)
print(example_list)

[1, 2, 5, 19, 20, 1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]

In [20]:
#Add 50 in the end
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
example_list.append(50)
print(example_list)

[1, 2, 3, 4, 5, 19, 20, 1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726, 50]

In [25]:
#insert 101 at the index 2
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
example_list.insert(2,101)
print(example_list)

[1, 2, 101, 3, 4, 5, 19, 20, 1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]

In [29]:
#Change value at index 5 to 25
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
example_list[5]=25
print(example_list)

[1, 2, 3, 4, 5, 25, 20, 1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]

In [32]:
#Calculate total and average of numbers
#Number of elements in a list
length=len(example_list)
print(length)

#sum
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
y=sum(example_list)
print("sum ", y)

20
sum  14276

In [36]:
#Calculate mean, median, mode, variance, standard eorror for the final list
from statistics import mean
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
mean_mylist=mean(example_list)
print(mean_mylist)

713.8

In [37]:
#Calculating descriptive statistics
from statistics import * #import all the library from staistics
example_list=[1,2,3,4,5,19,20,1783, 918, 102, 1830, 101, 23, 45, 89, 10, 14, 13, 568, 8726]
print(mean(example_list))
print(median(example_list))
print(variance(example_list))
print(stdev(example_list))

713.8
21.5
3877819.2210526317
1969.2179211688665